.container{
  margin: 15px auto;
  width: 400px;
  height: 300px;

}
@media(max-width:400) {
  .container{
    margin: 15px auto;
    width: 100%;
    height: 300px;

  }
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.btn{
  margin: 10px auto;
  display: flex;
align-items: center;


}
